@model CwoPqsCrosswalk.Models.CwoPqs

<div>
    @foreach (var sec in Model.Sections)
    {
        <ul>@sec.Number @sec.Name</ul>

        @foreach (var sig in sec.Signatures)
        {
            <div class="checkboxes">
                <label for="x"><input class="form-check-input" asp-for="@sig.Value" /> <span>@sig.Key</span></label>
            </div>
        }
    }

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
