@model CwoPqsCrosswalk.Models.Officer

@{
    ViewData["Title"] = "Officer";
}

<h1>
    @Html.DisplayFor(model => model.Rank)
    @Html.DisplayFor(model => model.FirstName)
    @Html.DisplayFor(model => model.LastName)
</h1>

<div class="container">

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#twoAlpha">2A</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#twoBravo">2B</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="twoAlpha" class="container tab-pane active">
            <br>
            <h3>Two Alpha's Tab Area </h3>
            @{
                Html.RenderPartial("Pqs", Model.TwoAlpha);
            }
        </div>
        <div id="twoBravo" class="container tab-pane active">
            <br>
            <h3>Two Bravo's Tab Area </h3>
            @{
                Html.RenderPartial("Pqs", Model.TwoBravo);
            }
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
